@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Gloock&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&family=Mukta:wght@200;300&family=Poppins:wght@100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,800&family=Roboto+Slab:wght@300&family=Tilt+Prism&display=swap");
*{
   font-family: 'Gloock', serif;
    font-weight: 2px;
}
body{
  background-color: gold;
  
}
.container{
    background-image: url(./images/burgers-hamburgers-cheeseburgers-black-background_440424-5168.jpeg);
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    padding-left: 3px;
    padding-top: 2px;
}

nav {
   position: fixed;
    display: flex;
    width: 100%;
    height: 15%;
    background: transparent;

  }
  nav ul {
  list-style: none;
    margin: 0;
    padding-left: 45%;
    padding-top: 4%;
  
  }
  nav ul li {
    float: left;
    margin-left: 10px;

 
    font-size: 20px;
    
  }
  nav ul li a {
   
    font-weight: bolder;
    justify-content: space-around;
    padding: 10px 15px;
    text-decoration: none;
    

  }

  nav img{
    height: 100px;
    width: 250px;
  }
  nav ul li a:hover {
    background-color:transparent;
  }
  a{
    color: rgb(255, 255, 255);
    
  }
  a:hover{
    color: gold;
  }
 #home{
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(1, 2fr); /* 2 columns with equal width */
  gap: 20px; /* Gap between images */
}
 

  .title h1{
    font-size: 90px;
    color: rgb(255, 255, 255);
    padding-left: 120px;
    padding-top: 90px;

}

.about h2{
  font-size: 50px;
  text-align: center;
  color: black;
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #c2ff51 0, #e5ff00 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29{
  margin-right: 680px;
  margin-left: 550px;
  
}


.button-29:focus {
  box-shadow: #161616 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #727272 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(255, 255, 255, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #707070 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #000000 0 3px 7px inset;
  transform: translateY(2px);
}
.about{
  padding-top: 400px;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
}
.about{

display: grid;
grid-template-columns: repeat(2,1fr);
}



.about-content p{
  padding-top: 60px;
  font-size: 30px;
  text-align: left;
  color: black;
 
}
.about-content{
  padding-left: 80px;
  padding-right: 80px;
}
.image-grid {
  padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    gap: 20px; /* Gap between images */
}

.image {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.image1 img {
   width: 100%;
    height: 100%;
}

.image2 img {
  width: 100%;
  height: 100%;
}

.image3 img {
 width: 100%;
  height: 100%;
}

.image4 img {
  width: 100%;
  height: 100%;
}



#contact{
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
  margin-left: 8%;
  margin-top: 15px;
  margin-right: 8%;
  font-size: 30px;
}
.icon-div{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.icon{
width: 50px;
height: 50px;
border: 2px solid;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin: 0 10px;
background-color: rgb(0, 0, 0);
}
.icon i{
  font-size: 20px;

}
.icon i:hover{
  color: gold;
}
footer{
  margin-top: 2rem;
  font-weight: bolder;
}